
  <div class="p-4 h-100 d-flex align-content-between flex-wrap">
    <div class="nav w-100 flex-column nav-pills" role="tablist">
      <a
        class="nav-link active"
        data-bs-toggle="tab"
        data-bs-target="#personal_information"
        ><i class="fas fa-user me-2"></i>Informacion Personal</a
      >
      <a
        class="nav-link"
        data-bs-toggle="tab"
        data-bs-target="#security_account"
        ><i class="fas fa-lock me-2"></i>Seguridad</a
      >
    </div>
    <div class="w-100 mt-md-3">
      <a href="index" class="btn btn-primary d-block">Volver</a>
    </div>
  </div>

